body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: auto;
}

a {
    text-decoration: none;
}

a:visited {
    color: #E5E7EB;
}
button {
    padding: 6px 20px;
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;

}

.header .signup-button {
    border: 0;
}

ul {
    list-style: none;
    margin: 0;
    text-wrap: nowrap;
}

.header li {
    display: inline;
    padding: 0 12px;
}

.header,
.footer {
    background-color: #1f2937;
    margin: 0;
}

.header {
    padding: 16px 96px;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    gap: 80px;
}

.header .logo{
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
    text-wrap: nowrap;
}

.header .main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin: 0;
}

.header .links,
.header .subtext,
.image-placeholder {
    font-size: 18px;
    color: #E5E7EB;
}

.top-logo-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.intro-image {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 40px;
    flex-wrap: wrap;
}

.header-bottom-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
}

.main-image {
    width: 400px;
    height: auto;
}

.information {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.information .main-text {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.boxes {
    display: flex;
    gap: 100px;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 36px;
    flex: 1;
}

.box {
    width: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.box-image {
    width: 120px;
    height: auto;
    border-radius: 12px;
    border: 2px solid #3882F6;
}

.quote {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 40px 120px;
    align-items: center;
}

.quote-text {
   font-size: 36px;
   font-family: sans-serif;
   font-weight: lighter;
   font-style: italic;
   text-align: center;
   color: #1f2937;
   max-width: 1400px;

}

.quote-citation {
    align-self: flex-end;
    font-family: sans-serif;
}

.signup {
    display: flex;
    justify-content: center;
}

.signup-box {
    display: flex;
    background-color: #3882F6;
    margin: 60px 150px;
    flex-basis: 1000px;
    border-radius: 10px;
    align-items: center;
    color: #F9FAF8;
    font-family: sans-serif;
    justify-content: space-between;
    padding: 30px 100px;
}

.signup-box .signup-button {
    border: 2px;
    border-color: #F9FAF8;
    border-style: solid;
}

.footer-text {
    text-align: center;
    color: #F9FAF8;
    font-family: sans-serif;
}